<div class="ui centered grid container">
    <div class="five large column">
      <h1>Lista de temas</h1>
      
      <table class="ui table">
        <thead>
          <tr>
            <th>Nome</th>
            <th colspan="3"></th>
          </tr>
        </thead>
      
        <tbody>
          <% @themes.each do |theme| %>
            <tr>
              <td><%= theme.name %></td>
              <td><%= link_to 'Show', theme, class: 'ui button' %></td>
              <td><%= link_to 'Editar', edit_theme_path(theme), class: 'ui button' %></td>
              <td><%= link_to 'Excluir', theme, method: :delete, data: { confirm: 'Você tem certeza?' },class: 'ui button red' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <br>
      <%= link_to 'Novo Tema', new_theme_path, class: 'ui button teal' %>

  </div>
</div>