<h3>Pôsteres</h3>
<table class="ui fixed single line celled table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Título</th>
            <th>Autor1</th>
            <th>Autor2</th>
            <th>Autor3</th>
      </tr>
    </thead>
    <tbody>
        <% users_poster.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.article_title %></td>
                <td><%= user.author_one %></td>
                <td><%= user.author_two %></td>
                <td><%= user.author_three %></td>
            </tr>
        <% end %>
    </tbody>
</table>