<div class="ui centered grid container">
    <div class="fourteen wide column">
        <div class="ui top attached tabular menu">
          <a class="item" data-tab="one">Participantes não confirmados</a>
          <a class="item" data-tab="third">Relátorios</a>
          <a class="item" data-tab="four">Artigos</a>
        </div>
        <div class="ui bottom attached tab segment" data-tab="one">
          <%= render :partial => 'home/user_table', :locals => { users: @users_unconfirmed,  show_links: true } %>
        </div>
        <div class="ui bottom attached tab segment" data-tab="third">
            
        <div>
            <p><%= link_to 'Trabalhos', user_poster_path(format: :pdf), class: 'ui button positive' %>
            <%= link_to 'Usuários confirmados', users_confirmeds_path(format: :pdf), class: 'ui button positive' %></p>
        </div>
            <table class="ui fixed single line celled table">
                <thead>
                    <tr>
                        <th>Cursos</th>
                        <th>Quantidade confirmado</th>
                        <th >Lista de parcipantes</th>
                    </tr>
                </thead>
                <tbody>
                    <% @courses.each do |course|  %>    
                        <tr>
                            <td>
                                <%= course.name.upcase %>
                            </td>
                            <td>
                                <%= course.members_length %>    
                            </td>
                            <td class="ui center aligned header">
                                <%= link_to "Lista", course_path(course, format: :pdf), class: 'ui large button teal' %>
                            </td>
                             
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <table class="ui fixed single line celled table">
                <thead>
                    <tr>
                        <th colspan='2'>Grupos tematicos</th>
                    </tr>
                </thead>
                <tbody>
                    <% Theme.available.each do |theme| %>
                        <tr>
                            <td><%= theme.name %></td>
                            <td>
                                <%= link_to 'Download', theme_list_path(theme, format: :pdf),  class: 'ui large button teal'  %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <p></p>
            
        </div>
        
        <div class="ui bottom attached tab segment" data-tab="four">
           <table class="ui fixed single line celled table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Arquivo</th>
                        <th colspan='1'> Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <% User.articles.each do |user|  %>    
                        <tr>
                            <td>
                                <%= user.name.upcase %>
                            </td>
                            <td>
                                <%= link_to 'Download', user.article_url, class: 'ui button ' %>  
                            </td>
                            <td>
                                <%= link_to('Aprove', aprove_article_path(user), class: 'ui button teal') unless user.article_aproved %>  
                                <div class='ui button red'>Reprove</div>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

<div class="ui modal">
  <div class="header">Observação de trabalho reprovado</div>
  <div class="content">
    <div class="ui centered grid container">
      <div class="five wide column">
         <form id='form_negative' action='/negative_article' method="post" class='ui form'>
            
            <input id='id' name='id' type='hidden'></input>
            
            <div class="field">
                <textarea id="obs"></textarea>
            </div>

            <div class="actions">
              <input type='submit' value='enviar' class='ui button red' >
            </div>
         </form>
          
      </div>
    </div>
  </div>
  <div class="actions">
  </div>
</div>
<script>
    $(document).ready(function(){
    $("#negative").click(function(){
        $('.ui.modal').modal('show');
    });
});
</script>

<script>
    $('.menu .item').tab();
    $.tab('change tab', 'one');
</script>

<% if params[:tab] %>
    <script>
        $.tab('change tab', params[:tab]);
    </script>
<% end %>