  <div class="pusher">
    <div class="ui vertical stripe segment" >
      <div class="ui middle aligned stackable grid container">
        <div class="row">
          <div class="eight wide column">
            <h3 >Evento</h3>
            <p class='ui text justify' style="text-align: justify;
text-justify: inter-word;">A VII Semana Acadêmica de Pedagogia consiste em um evento anual realizado desde 2010,
pela Coordenação do curso de Licenciatura Plena em Pedagogia do CSHNB/UFPI. Trata-se de
uma iniciativa que busca promover, em três dias de intensa vivência acadêmica, o debate
propositivo sobre temas de relevância no campo da educação, considerando temas inscritos
na agenda global das políticas e práticas educativas em diálogo com as demandas locais que
desafiam os organismos gestores e instituições escolares. O evento adquiriu, ao longo de suas
edições, evidente relevância no contexto regional, passando a acolher um público cada vez
mais variado. Em 2017, o evento, em consonância com o projeto anual que organiza as ações
da coordenação e de professores do curso, tem como tema “As (ré)formas educacionais e a
formação política do professor: velhos embates, novas estratégias”. Ao definir esse foco
temático, intenciona-se desencadear debates acerca das problemáticas do curso de Pedagogia
em relação aos discursos curriculares entretecidos pelas políticas educacionais recentes e às
práticas de formação que encontram lugar nas atividades desenvolvidas no curso e pelos
profissionais egressos do mesmo. Pressupõe-se, o conceito de Pedagogia, como saber-fazer
fomentador da práxis educativa, referenciando os desafios globais e locais que tencionam a
agenda pública da educação.</p>
                        <h3 class="ui header">Submissão de trabalhos</h3>
            <p style="text-align: justify;
text-justify: inter-word;">A submissão de artigos científicos é a forma mais comum de disseminar os avanços alcançados por pesquisas científicas que são desenvolvidas em diversas áreas do conhecimento. Caso queira submeter confira as normas clicando ao lado. <a href="edital.pdf" class="ui button tiny teal">VEJA AS NORMAS</a></p>
          </div>
          <div id="maincontent" class="six wide right floated column" style="margin-top:-20em;">
            <%= image_tag 'fundo.png', class: 'ui large bordered rounded image' %>
          </div>
          <div id="maincontent" class="eight wide right floated column" style="margin-top:-20em;">
            <h3 >Palestras</h3>
            <p style="text-align: justify;
text-justify: inter-word;">O SAPED promoverá palestras com temas atuais e de grande interesse da academia. Possibilitando assim aos participantes reconhecerem o trabalho apresentado pelos convidados de maneira mais clara e se atualizarem dos assuntos abordados, podendo desenvolver projetos pessoais ou esclarecer dúvidas decorrentes dos temas abordados.</p>

          </div>
        </div>
        <div class="row">
          <div class="center aligned column">
            <%= link_to 'PARTICIPE!',new_user_registration_path ,class: 'ui huge button' %>
          </div>
        </div>
      </div>
    </di>
    
    <div class="ui vertical stripe ">
        <div class="ui  container " >
          <h3 id="evento" class="ui center aligned column header ">Cronograma do evento</h3>
          <table class="ui celled table" >
              <thead>
                <tr>
                  <th rowspan="2" colspan='6' class="center aligned">VII SEMANA ACADÊMICA DE PEGAGOCIA DO CSHNB/UFPI<br>
                    As (ré)formas educacionais e a formação política do professor: velhos embates, novas estratégias
                  </th>
                </tr>
                
              </thead>
              <tbody>
                <tr>
                  <th colspan='2' class="center aligned"> 20 de setembro</th>
                  <th colspan='2' class="center aligned"> 21 de setembro</th>
                  <th colspan='2' class="center aligned"> 22 de setembro</th>
                </tr>
                
                <tr>
                  <td >9h às 12h</td>
                  <td>Credenciamento (Sala do núcleo de pesquisas em teorias e práticas pedagógicas - UFPI/CNPq)</td>
                 
                  <td>8h às 12h</td>
                  <td>Exposição de pôsteres </td>
                  
                  <td>9h às 12h</td>
                  <td> Comunicações orais ( Grupos temáticos)</td>
                </tr>
                
                <tr>
                  <td>14h às 17h</td>
                  <td>Credenciamento (Sala do núcleo de pesquisas em teorias e práticas pedagógicas - UFPI/CNPq)</td>
                  
                  <td>14h às 17h</td>
                  <td>Oficinas e minicursos</td>
                  
                  <td>14h às 17h</td>
                  <td>Oficinas e minicursos</td>
                </tr>
                <tr>
                  <td>18h30</td>
                  <td>Apresentação cultural</td>
                  
                  <td>18h30</td>
                  <td>Mesa redonda
Tema: As reformas da educação
básica: tensões, desafios e
possibilidades em tempos de crise.
Raquel Dias Araújo– UECE
Carla Silvino – UFPI
Leonardo Severo - UFPB</td>
                  
                  <td>18h30</td>
                  <td>Conferência de encerramento
Tema: Quanto vale um professor?
Prof.ª Dr.ª Elda Maria Freire Maciel (UECE)</td>
                </tr>
                <tr>
                  <td>19h</td>
                  <td>Cerimônia de abertura
(Composição da mesa e
pronunciamento da comissão
organizadora)</td>
                  
                  <td></td>
                  <td></td>
                  
                  <td>21h</td>
                  <td>Premiação dos melhores trabalhos</td>
                </tr>
                
                <tr>
                  <td>19h30</td>
                  <td>Conferência de abertura
Tema: As (ré) formas educacionais e a
formação política do professor: velhos
embates, novas estratégias.
José Deribaldo Gomes dos Santos –
UECE </td>

                <td></td>
                <td></td>
                
                <td>22h</td>
                <td>Evento Cultural</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    
    <div class='ui horizontal section divider'  id="minicursos" >Minicursos</div>
    <div class='ui center aligned  grid' >
      <div class='seven wide column'>
        <h4 class='ui header'>O lugar do brincar na Educação Infantil - Prof.ª Mestre Alessandra Lopes Castelini</h4>
        <div class='ui justify aligned text '>
          <p style="text-align: justify;
text-justify: inter-word;">
          Ementa:
          Concepção de infância e criança. As DCNEIS/2009 e a linguagem corporal.
          Proposta curricular da Educação Infantil. As interações e brincadeiras. A
          organização espacial das instituições. Os desafios da implementação de jogos e
          brinquedos. O brinquedo na perspectiva de Vygotsky.
          Objetivos: <br>
          <div class="ui list">
            <ul class='lista'>
              <li class='item'> <i class="right triangle icon"></i> Reconhecer a criança enquanto sujeito social e histórico e o direito à Educação
              Infantil;</li>
              <li class='item'> <i class="right triangle icon"></i> Perceber a importância das discussões sobre a pedagogia da infância;</li>
              <li class='item'> <i class="right triangle icon"></i> Promover o debate sobre a importância do brincar na Educação Infantil e as
              possibilidades de interação nas brincadeiras segundo Vygotsky;</li>
              <li class='item'> <i class="right triangle icon"></i> Possibilitar uma reflexão sobre as práticas docentes dos profissionais que
              atuam;</li>
              <li class='item'> <i class="right triangle icon"></i> Compreender a proposta curricular da Educação Infantil como norteadora das
              ações visando o desenvolvimento das crianças;</li>
              <li class='item'> <i class="right triangle icon"></i> Refletir sobre a organização espacial oferecida nas instituições;</li>
              <li class='item'> <i class="right triangle icon"></i> Identificar os desafios para a implementação de jogos e uso de brinquedos na
              Educação Infantil;</li>
              <li class='item'> <i class="right triangle icon"></i> Socializar brinquedos e brincadeiras para a Educação Infantil;</li>
            </ul>
          </div>
          </p>
        </div>
      </div>
      <div class='seven wide column'>
        <h4 class='ui header'>A utilização do pensamento de Michel Foucault como método de pesquisa em
História da Educação - Prof. Mestre Nilton Ferreira Bittencourt Júnior</h4>
        <div class='ui justify aligned text '>
          <p style="text-align: justify;
text-justify: inter-word;">
            O pensamento do filósofo Francês Michel Foucault é singular. Com uma forma
analítica que foge do convencional, ele escreveu várias obras que se tornaram
referência em todo o mundo. Especificamente na pesquisa em história, recebe
elogios na obra História e Memória (1996), escrito pelo historiador Jacques Le
Goff, legitimando sua pesquisa como instrumento de análise histórica. Suas
obras: História da loucura na idade clássica (1961) e História da sexualidade
(1976), por exemplo, são vistas como uma nova forma de fazer pesquisa
histórica. O presente minicurso pretende discutir a respeito de alguns termos
desenvolvido por Foucault (Biopoder/biopolítica; Segurança; Território;
população; governamentalidade), contido na obra Segurança, território,
população: curso dado no College de France (1977-1978) e a possibilidade de
utilização destes termos como categoria de análise, especificamente na história
da educação. O minicurso será ministrado em três momentos: Análise dos
termos foucaultianos; perspectivas de pesquisa em história da educação;
contexto de aplicação destes termos como categorias de análise.
          </p>
        </div>
      </div>
      <div class='seven wide column'>
        <h4 class='ui header'>Marxismo e Educação – Prof.ª Mestre Jasmine Castro</h4>
        <div class='ui justify aligned text '>
          <p style="text-align: justify;
text-justify: inter-word;">
            Esta proposta de minicurso tem como objetivo situar historicamente as
políticas educacionais no Brasil e suas relações com as determinações do
capital estrangeiro, à luz das discussões marxianas. Trata-se de uma
oportunidade para refletir sobre a relação entre Estado e Capital na definição
das políticas educacionais, propondo uma introdução ao Marxismo, a partir do
contexto social e político atual. Utilizar-se- á como suporte para esse minicurso,
por exemplo, a análise do Programa Escola sem Partido e sua intencionalidade
política; discussão da Reforma do Ensino Médio e suas determinações de classe
subjacentes. Faremos exibição e discussão de vídeo sobre o tema, articulando à
leitura de pequenos textos, na possibilidade do tempo disponível para a sua
realização.
          </p>
        </div>
      </div>
      <div class='seven wide column'>
        <h4 class='ui header'>Aprendendo e ensinando Matemática sem medo – Prof. ª Doutora Maria
Cézar Sousa</h4>
        <div class='ui justify aligned  text '>
          <p style="text-align: justify;
text-justify: inter-word;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
      <div class='seven wide column'>
        <h4 class='ui center aligned header' >Scratch com Latex – Prof. Mestre Algeir Sampaio</h4>
        <div class='ui justify aligned text '>
          <p style="text-align: justify;
text-justify: inter-word;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
      
    <h4 class="ui horizontal header divider">
      <a href="#" id='palestrantes'>Palestrantes</a>
    </h4>
    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
          <div class="center aligned row">
            <div class="column">
              <h3>José Deribaldo Gomes dos Santos</h3>
              <a href="#" class="ui medium image">
                  <%= image_tag 'palestrante1.png', class: 'ui circular image' %>
              </a>
            </div>
            <div class="column">

              <p style="text-align: justify;
text-justify: inter-word;">
                Possui graduação em Pedagogia pela
                Universidade Estadual Vale do Acaraú
                (UVA/2001), especialização em Gestão
                Escolar pela Universidade Estadual do
                Ceará (UECE/2003), mestrado em
                Políticas Públicas e Sociedade
                (UECE/2005), em 2006 fez estágio
                doutoral na Universidade do Porto (UP), e
                em 2009 concluiu o doutorado em Educação Brasileira pela
                Universidade Federal do Ceará (UFC). Concluiu, em 2015, estágio
                pós-doutoral em Estética na Universidad Complutense de Madrid
                (UCM) com bolsa da CAPES. É Professor Adjunto da Faculdade de
                Educação, Ciências e Letras do Sertão Central (FECLESC-UECE),
                atuando no Programa de Pós-Graduação em Educação
                (PPGE/UECE) e no Mestrado Acadêmico Intercampi em Educação e
                Ensino (MAIE/UECE). É pesquisador do Instituto de Estudos e
                Pesquisas do Movimento Operário (IMO-UECE) e do Laboratório de
                Pesquisas sobre Políticas Sociais do Sertão Central (Lapps-UECE).
                Desenvolve pesquisas nas áreas de Trabalho e Educação e Estética
                Marxista. Atua, principalmente, no exame da Educação Profissional e
                na Formação de Professores. Lidera o Grupo de Pesquisa Trabalho,
                Educação, Estética e Sociedade (GPTREES).
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="ui vertical stripe quote segment">
          <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
              <div class="column">
                <h3>Raquel Dias Araujo</h3>
                <a href="#" class="ui medium image">
                    <%= image_tag 'palestrante2.png', class: 'ui circular image' %>
                </a>
              </div>
              <div class="column">

                <p style="text-align: justify;
text-justify: inter-word;">
                  Possui graduação em Pedagogia pela Universidade
                  Estadual do Ceará (1994), Mestrado Em Educação
                  Brasileira pela Universidade Federal do Ceará (2000) e
                  Doutorado em Educação pela Universidade Federal do
                  Ceará (2006). Atualmente, é professora adjunta do Centro de Educação da
                  Universidade Estadual do Ceará, ministrando a disciplina Política e
                  Planejamento Educacional. Coordenadora do Grupo de Estudo Marxismo e
                  Educação. Integrante do Grupo de Pesquisa Ontologia do Ser Social, História,
                  Educação e Emancipação Humana. Membro do corpo editorial da Revista
                  Dialectus. Tem experiência de investigação na área de Trabalho, Educação e
                  Organização de Classe, atuando principalmente nos seguintes temas: trabalho e
                  educação; movimento sindical docente; universidade pública; política
                  educacional.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="ui vertical stripe quote segment">
            <div class="ui equal width stackable internally celled grid">
              <div class="center aligned row">
                <div class="column">
                  <h3>Leonardo Severo</h3>
                  <a href="#" class="ui medium image">
                      <%= image_tag 'palestrante3.png', class: 'ui circular image' %>
                  </a>
                </div>
                <div class="column">

                  <p style="text-align: justify;
text-justify: inter-word;">
                    Doutor e Mestre em Educação pelo Programa de Pós-Graduação em Educação da Universidade
Federal da Paraíba (UFPB), com estágios doutorais na Universidade de São Paulo (USP) e
Universidad Nacional de Educación a Distancia (UNED), em Madrid - Espanha. Licenciado em
Pedagogia pela Universidade Federal de Campina Grande. Tem experiência na área de
Educação, com ênfase no estudo da Epistemologia da Pedagogia e Conhecimento Pedagógico,
Educação Não Escolar, Desenvolvimento Curricular e Política Educacional. É pesquisador do
Grupo de Estudos e Pesquisas em Políticas Curriculares (GEPPC - UFPB) e do Núcleo de
Estudos, Pesquisa e Extensão em Pedagogia, Pedagogia Social e Educação Social (NUPEPES -
UEPG). É Professor Adjunto A em regime de dedicação exclusiva no Departamento de
Habilitações Pedagógicas do Centro de Educação na Universidade Federal da Paraíba, atuando,
ainda, como editor da Revista Espaço do Currículo.
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="ui vertical stripe quote segment">
              <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                  <div class="column">
                    <h3>Carla Silvino de Oliveira </h3>
                    <a href="#" class="ui medium image">
                        <%= image_tag 'palestrante4.png', class: 'ui circular image' %>
                    </a>
                  </div>
                  <div class="column">

                    <p style="text-align: justify;
text-justify: inter-word;">
                      Doutoranda em Educação pela Universidade de São Paulo
- USP. Possui graduação em História Licenciatura Plena
pela Universidade Estadual do Ceará (2003),
Especialização em Docência na Educação a Distância pela
Universidade de Fortaleza (2011) e mestrado em História
Social pela Universidade Federal do Ceará (2007).
Atualmente é professora assistente do curso de História
da Universidade Federal do Piauí - CSHNB e
Coordenadora da área de História do PIBID UFPI/CSHNB .
Tem experiência na área de Ensino de História e
Educação a distância, com ênfase em Didática, Currículo e
Teoria do Ensino de História, Tecnologias Digitais da
Informação e Comunicação e Prática da docência em
Estágio Supervisionado.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="ui vertical stripe quote segment">
              <div class="ui equal width stackable internally celled grid">
                <div class="center aligned row">
                  <div class="column">
                    <h3>Elda Maria Freire Maciel </h3>
                    <a href="#" class="ui medium image">
                        <%= image_tag 'palestrante5.png', class: 'ui circular image' %>
                    </a>
                  </div>
                  <div class="column">

                    <p style="text-align: justify;
text-justify: inter-word;">
                      Possui Doutorado em Sociologia pela Universidade Federal do Ceará (2009), Mestrado
em Educação pela Universidade Federal do Ceará (2000), graduação em Bacharelado
em Ciências Sociais pela Universidade Estadual do Ceará (2009), graduação em
Licenciatura em Pedagogia pela Universidade Estadual do Ceará (1987). Atualmente é
Professora Adjunto da Universidade Estadual do Ceará atuando com temas como
política, partido politico, movimentos sociais, educação e cultura.
                    </p>
                  </div>
                </div>
              </div>
            </div>

      <div class="ui vertical stripe segment">
        <div class="ui  container " >
          <h3 class="ui center aligned column header ">Apoiadores:</h3>
          <div class="ui large images" style='margin:0 auto;'>
            <%= image_tag 'ufpi.jpeg', class:'ui massive image' %>
            <%= image_tag 'nutepp.png', class:'ui massive image'  %>
          </div>
        </div>
      </div>
<script>
  $('a[href^="#"]').on('click', function(e) {
	  e.preventDefault();
	  var id = $(this).attr('href'),
			targetOffset = $(id).offset().top;
			
	$('html, body').animate({ 
		scrollTop: targetOffset - 100
	}, 500);
});
</script>
      
      
