<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Semana de pedagogia da Universidade Federal do Piauí - campus Picos">
  <meta name="keywords" content="Pedagogia, Palestras, Cursos, Picos, UFPI">
  <meta name="author" content="Josafá Martins dos Santos">
  
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
  <%= yield :head %>
  
 .conteudo1 .tituloc1 strong {
	  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	  font-size: 18px;
  }
  
  .hidden.menu {
      display: none;
    }
	
	.masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
	
	.ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    } .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }

  .rodape {
  	background-color: rgb(0, 0, 0);
  	position: absolute;
  	bottom: 0;
  	width: 100%;
  		left:0;
  	height: 105px;
  	z-index: 10;
  }
  
  .rodapeimg {
  	background-image: url('rodape.png');
  	position: absolute;
  	left: 45%;
  	bottom: 105px;
  	width: 239px;
  
  	height: 67px;
  	z-index: 11;
  }
  
  .linhaesq {
  	border-width: 1px;
  	border-color: #333;
  	border-style: solid;
  	background-color: rgb(0, 0, 0);
  	position: absolute;
  	bottom: 112px;
  	left:0;
  	width: 100%;
  	height: 0;
  	z-index: 10;
  }
  
  #t{
    height: 600px !important;
  }
  
  .lista{
    text-align:left;
  }
  
  .lista li{
    list-style-type: none;
    font-size:1.2em;
    margin-top:0.6em;
  }
  
  .ui.vertical.stripe p {
    font-size:16px;
  }
  
  .atencao{
    line-height:1.8em;
    font-weight:400;
    font-family:'Lato', sans-serif;   
    letter-spacing:8px !important;
    text-transform:uppercase !important;
  }
  
  .mainmenu * {
    text-transform:uppercase !important;
    font-size:15px;
  }
  
  
  html, body {
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:100%;
    font-size:16px;
    line-height:1.8em;
    font-weight:400;
    font-family:'Lato', sans-serif;   
  }
  
  .my-container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background-image: url('index.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
   
  }
    
    .evento{
      text-transform:uppercase !important;
      font-size:12px !important;
      line-height:2em;
      font-family: "raleway-regular",Helvetica,Arial,sans-serif !important;
      font-weight:700;
      
    }
  </style>
 <title>SAPED</title>
</head>

<body>
  <div class='my-container'>
  <div class="ui large top menu fixed " style='background-color:#FFC70E;'>
    <div style="margin-left:-5em;" class="ui container mainmenu">
      <a class="active item" href="/">Home</a>
      <div id="hide-menu" class="ui menu" style='background-color:#FFC70E;' >
        <a class="item" href="#evento">Programação do Evento</a>
        <a class="item" href="edital.pdf">Normas para Publicação</a>
      </div>
      <a class="item" href="expediente">Corpo Editorial</a>
      <a class="item" href="an">anais</a>
      <div class="right menu">
        <div id="login" class="item">
          <a class="ui button">Log in</a>
        </div>
        <div class="item" id="cadastrar">
          <%= link_to 'Inscrever-se',new_user_registration_path ,class: 'ui primary button', style:"background-color:#4E94FF;" %>
        </div>
      </div>
    </div>
  </div>

  <%= yield :sidebar %>
  
  <%= yield %>

  <div id="footer" class='footer'>
    <div class="rodapeimg"> </div>
    <div class="rodape"> <p style="margin-left:22em;margin-top:3em;color:#fff;index-z:10;font-size:16px;" >
      Rua Cícero Duarte, 905. Junco. CEP 64.607-670. Picos-Piaui Tel: 89 3422 2058<br>
    </p></div>
    <div class="linhaesq"> </div>  
    
  </div>
    
  <!-- Modal user -->
  <%= render 'layouts/user' %> 
</div>
<%= yield :footer %>
</body>

</html>
