<div class="ui centered grid container">
      <div class="five wide column">
<h2>Cadastro</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'ui form'}) do |f| %>
    <%= devise_error_messages! %>
  
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>
  
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :cpf %><br />
      <%= f.text_field :cpf %>
    </div>
    
    <div class="field">
      <div class="inline fields">
      <label for="discente">Discente da UFPI?</label>
      <div class="field">
        <div class="ui radio checkbox">
          <input id='discente_sim' name="discente" tabindex="0" class="hidden" type="radio" >
          <label>Sim</label>
        </div>
      </div>
      <div class="field">
        <div class="ui radio checkbox">
          <input name="discente" tabindex="0" class="hidden" type="radio" checked="" >
          <label>Não</label>
        </div>
      </div>
      </div>
    </div>
    <script>
      $('.ui.radio.checkbox').checkbox();
      
      $( ".ui.radio.checkbox" ).change(function() {
        if($("#discente_sim").is(":checked")){
          $("#matricula").css("display", "initial");
        }else{
          $("#matricula").css("display", 'none');
        }
      });
      
    </script>
    
    <div id="matricula" class="field" style="display: none;">
      <%= f.label :matriculation %><br />
      <%= f.text_field :matriculation %>
    </div>
    
    <!-- tem que informar os tipos com popup ou algo do tipo -->
    <div id="participacao" class="field" >
      <%= f.label :participation %><br />
      <%= f.collection_select(:participation_id, Participation.all, :id, :name, {prompt: 'Tipo de participacao'}, {:class=>'ui dropdown'}) %>
    </div> 
    <script>
      $( "#user_participation_id" ).change( function(){
        var value = $( "#user_participation_id" ).val();
        // valores acima disso representa apresentação e necessariamente um tema
        if(value == 3){
          $("#tema").css("display", "initial");
        }else{
          $("#tema").css("display", 'none');
        } 
      });
      
    </script>
    
    <div id="tema" class="field" style="display: none;" >
      <%= f.label :theme %><br />
      <%= f.collection_select(:theme_id, Theme.all, :id, :name, {prompt: 'Tema da apresentação'}, {:class=>'ui dropdown'}) %>
    </div>
    
    <div class="field">
      <%= f.label :course %><br />
      <%= f.collection_select(:course_id, Course.avalaible, :id, :name, { prompt: 'Curso'}, {:class=>'ui dropdown'}) %>
    </div>
    
    <div class="actions">
      <%= f.submit "Cadastrar", class: 'ui button teal' %>
    </div>
  <% end %>
  
  <%= render "users/shared/links" %>
  </div>
</div>

<script>
  $('select.dropdown').dropdown();
</script>

<%= render 'layouts/user' %>